<ul>
  <li><a href="./pages/template.html">Template</a></li>
  <li><a href="./pages/index.html">Index</a></li>
  <li><a href="./pages/shop-list.html">Shop list</a></li>
  <li><a href="./pages/shop-single.html">Shop single</a></li>
  <li><a href="./pages/terms-conditions.html">Terms & Conditions</a></li>
  <li><a href="./pages/faq.html">FAQ</a></li>
  <li><a href="./pages/locator.html">Locator</a></li>
  <li><a href="./pages/404.html">404</a></li>
</ul>