*,
*::before,
*::after { box-sizing: border-box; }

body { 
  margin: 0;
  margin-top: 64px;
  color: $textColor;
  font-family: 'Sofia pro';
  font-size: $root-font-size;
}

body.haspattern {
  background: url('../../../images/pattern_bg.svg');
  background-repeat: no-repeat;
}



h1,
.h1 {
  font-size: $primary-title;
  font-weight: $bold;
  padding-bottom: 50px;
  text-transform: uppercase;
  margin: 0;
}

h1 + h2 {
  padding-top: 0;
}

h2 {
  font-size: $secondary-title;
  font-weight: $medium;
  margin: 0;
  padding-top: $big-spacing;
}

h3 {
  font-size: $tertiary-title;
  font-weight: $medium;
  margin: 0;
  padding-top: $double-spacing;
  padding-bottom: $standard-spacing;
}

h4 {
  font-size: $root-font-size;
  font-weight: $medium;

  &.no-bottom-space {
    margin-bottom: 0;
  }
}

p {
  margin: 0;
  padding-top: 16px;
  line-height: 24px;
}

.text--bigger {
  font-size: $bigger-text;
}

a {
  color: $black;
  position: relative;
  text-decoration: none;

  &.icon-link {
    display: inline-flex;
    align-items: center;

    img {
      margin-right: 10px;
    }

    &:hover::after,
    &.selected::after {
      width: 80%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    display: inline-block;
    height: 2px;
    width: 0;
    transition: all 200ms;
  }

  &:hover::after,
  &.selected::after {
    background: $black;
    width: 25px;
  }

  &.underlined-link {
    text-transform: uppercase;

    &::after {
      background: black;
      width: 66%;
    }

    &:hover {
      color: $corporate;
      &::after {
        background: $corporate;
        width: 100%;
      }
    }
  }
}

img {
  max-width: 100%;
}

.content {
  width: 66%;
  min-width: 300px;
  margin: 150px auto;
  margin-bottom: 0;
}

table {
  th,
  td {
    padding: 15px 0;
  }

  th {
    text-align: start;
  }

  td {
    padding-left: 50px;
  }
}

@media (max-width: $lg) {
  .mobile-hidden {
    display: none;
  }
}