@font-face {
  font-family: "Sofia pro";
  src: url("../../../fonts/Sofia/Sofia\ Pro\ Regular\ Az.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Sofia pro";
  src: url("../../../fonts/Sofia/Sofia\ Pro\ Medium\ Az.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Sofia pro";
  src: url("../../../fonts/Sofia/Sofia\ Pro\ Bold\ Az.otf");
  font-weight: 700;
}