.container {
  width: calc(100% - 2 * #{$gutter});
  max-width: $container;
  margin-right: auto;
  margin-left: auto;

  &--fullwidth {
    @media (min-width: calc(#{$container} + #{$fullwidth-gutter} * 2)) {
      width: calc(100% - 2 * #{$fullwidth-gutter});
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
}

[class*='col-'].row {
  margin-right: -$gutter;
  margin-left: 0;
  padding: 0;
}

@mixin generateGrid($size) {
  @for $col from 1 through $columns {
      .col-#{$size}-#{$col} {
        width: calc(100% / #{$columns} * #{$col});
        padding: #{$gutter};
    }
  }
}

@each $name, $pixel in $breakpoints {
  @media (min-width: $pixel) {
    @include generateGrid($name);
  }
}

.no-gutter {
  padding: 0;
}