@mixin simple-link {
  a {
    &::after {
      display: none;
    }

    &:hover {
      color: $corporate;
    }
  }
}

@mixin unstyle-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin simple-links {
  a:hover{
    color: $corporate;

    &::after,
    &.selected::after {
      background: none;
    }
  }
}