.bg-salmon {
  background-color: $salmon;
}

.bg-beige {
  background-color: $beige;
}

.bg-gray {
  background: $gray;
}

.desktop-only {
  display: none;

  @media (min-width: $lg) {
    display: initial;
  }
}

.regular-weight {
  font-weight: $regular;
}

.text-centered {
  text-align: center;
}

.text-capitalize {
  text-transform: capitalize;
}

.no-spacing {
  margin: 0;
  padding: 0;
}

.caption {
  color: $corporate;
  text-transform: uppercase;

  &::before {
    content: '';
    display: inline-block;
    height: 2px;
    width: 40px;
    background: $corporate;
    margin-bottom: calc(#{$root-font-size} / 2 - 4px);
    margin-right: 10px;
  }
}