//===========================================
// Breakpoints
//===========================================
$xs: 0px;
$sm: 676px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$breakpoints: (
  "xs": $xs,
  "sm": $sm,
  "md": $md,
  "lg": $lg,
  "xl": $xl,
  "xxl": $xxl,
);

//===========================================
// Colors
//===========================================
$white: #ffffff;
$eggShell: #EEEEEE;
$black: #222222;
$lightGray: #E4E4E4;
$gray: #CFCDCD;
$darkGray: #767676;
$beige: #EAE9E7;
$gold: #B9A16B;
$lightRed: #C32929;
$red: #D6001C;
$salmon: #F5E6E0;
$stars: #EEBA36;

$textColor: $black;
$lightTextColor: $darkGray;
$corporate: $red;
$accent: $gold;
$border: gray;
$list-bullets: #c4c4c4;

//===========================================
// Text
//===========================================
$root-font-size: 14px;
$primary-title: 2.5rem;
$secondary-title: 1.85rem;
$tertiary-title: 1.14rem;
$alert-title: 7.14rem;
$bigger-text: 1.14rem;

$bold: 700;
$medium: 500;
$regular: 400;

//===========================================
// Container
//===========================================
$container: 1400px;

//===========================================
// Spacings
//===========================================
$standard-spacing: 15px;
$double-spacing: 2 * $standard-spacing;
$list-spacing: 20px;
$big-spacing: 50px;

//===========================================
// Grid
//===========================================
$columns: 12;
$gutter: 15px;
$fullwidth-gutter: 60px;