.accordion {
  &__title {
    border-bottom: 1px solid $lightGray;
    position: relative;
    cursor: pointer;

    &::after {
      content: "+";
      bottom: $standard-spacing;
      position: absolute;
      bottom: $standard-spacing;
      right: 0;
    }
  }

  &__toggler {
    bottom: $standard-spacing;
    position: absolute;
    bottom: $standard-spacing;
    right: 0;
  }

  &--open &__title {
    border-color: $black;

    &::after {
      content: "-";
    }
  }

  p {
    visibility: hidden;
    height: 0;
  }

  &--open p {
    visibility: visible;
    height: auto;
  }
}