.add-review {
  &__title {
    font-size: 18px;
    font-weight: $medium;
  }

  form {
    margin: $double-spacing 0;

    .stars-input {
      margin-bottom: $double-spacing;

      i {
        font-size: 12px;
        color: $stars;
      }
    }
  }
}