.alert {
  width: 100%;
  text-align: center;
  position: absolute;
  padding: 0 $gutter;
  
  top: 50%;
  transform: translateY(-50%);
  
  @media (min-width: $lg) {
    max-width: 476px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: $alert-title;
  }

  &__caption {
    margin-bottom: 23px;
  }
}