.breadcrumb {
  a {
    text-transform: uppercase;
    &:hover {
      color: $corporate;
      &::after {
        display: none;
      }
    }
  }

  @media (max-width: $lg) {
    display: none;
  }
}