.button-input {
  background: $white;
  display: flex;
  border: 1px solid $lightGray;

  input,
  button {
    padding: $standard-spacing 20px;
    border: none;
    background: transparent;
    font-size: 14px;
  }

  input {
    flex-grow: 1;
    min-width: 0;
    padding-right: 0;

    &::placeholder {
      color: $darkGray;
      opacity: 1;
    }
  }

  button {
    min-width: 70px;
    color: $black;
    cursor: pointer;
  }
}