.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: 200ms;
  border: 3px solid transparent;
  cursor: pointer;

  @media (min-width: $md) {
    width: auto;
    padding: 15px 100px;
  }

  &--primary {
    color: $white;
    background: $black;

    &:hover {
      background: $white;
      border-color: $black;
      color: $black;
    }
  }

  &--secondary {
    color: $black;
    background: $white;

    &:hover {
      border-color: $corporate;
      color: $corporate;
    }
  }

  &--large {
    padding: 19px 0px;

    @media (min-width: $md) {
      padding: 19px 140px;
    }
  }

  &--fullwidth {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  &--simple {
    padding: 0;
    background: none;
    width: auto;
  }

  &::after {
    display: none;
  }
}