.card {
  background-color: $lightGray;
  height: 100%;
  min-height: 285px;
  position: relative;
  overflow: hidden;
  transition: .2s;

  img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  &__content {
    position: absolute;
    left: 40px;
    bottom: 40px;
    z-index: 2;
  }

  &__title {
    text-transform: uppercase;
    padding: 0;
  }

  &__subtitle {
    text-transform: uppercase;
    color: $darkGray;
  }

  &:hover {
    box-shadow: 5px 5px 10px $lightGray;
  }

  &--red {
    background-color: $corporate;
    color: $white;

    a {
      color: $white;

      &::after {
        background: $white;
      }
    }

    .card__subtitle {
      color: $white;
    }
  }
}