.color-picker {
  $picker-size: 10px;
  $border-size: 2px;
  $circle-oversize: 8px;

  display: inline-block;
  position: relative;
  height: $picker-size;
  width: $picker-size;
  border-radius: 100%;
  background: red;
  margin-top: calc(#{$circle-oversize} - #{$border-size});
  margin-left: calc(#{$circle-oversize} - #{$border-size});

  &:hover,
  &:focus,
  &--selected {
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      height: calc(#{$picker-size} + #{$circle-oversize});
      width: calc(#{$picker-size} + #{$circle-oversize});
      border-radius: 100%;
      background: none;
      border: $border-size solid $black;
      top: calc(#{$circle-oversize} / 2 * -1);
      left: calc(#{$circle-oversize} / 2 * -1);
    }
  }
}