.countdown {

  &__digit {
    position: relative;
    font-size: $secondary-title;
    padding-bottom: $secondary-title;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__label {
    font-size: $root-font-size;
    color: $darkGray;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 10px;
  }
}