.cover {
  display: flex;
  position: relative;
  align-items: center;
  text-transform: uppercase;
  overflow: hidden;

  $cover-height: 440px;
  &--fullheight { $cover-height: 80vh; }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $double-spacing;

    h1 {
      padding-bottom: 0;
    }

    ul {
      @include unstyle-list;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: $double-spacing;

      li{
        padding: 0 $standard-spacing;
        margin-bottom: $double-spacing;
      }
    }
  }

  &__title {
    padding: $standard-spacing 0;
  }

  &__content {
    padding-left: $double-spacing;
    z-index: 2;
  }

  &__right {
    overflow: visible;
    width: 100px;

    img {
      position: initial;
      max-width: 400px;
      transform: translateX(-20%);
      z-index: 0;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $eggShell;
    background-image: url("../../../images/pattern_white.svg");
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: $cover-height;
  }

  &--fullheight {
    height: 80vh;

    .cover__overlay {
      display: block;
    }
  }

  & + .content {
    margin-top: 36px;
  }

  @media (min-width: $lg) {
    width: calc(100% - #{$gutter} * 2);
    min-height: $cover-height;
    padding: 20px 0px;
    margin: 0 auto;
    border: 2px solid $eggShell;
    overflow: hidden;

    &__overlay {
      top: 10px;
      left: 10px;
      width: calc(100% - 20px);
      height: calc(#{$cover-height} - 20px);

      img {
        display: block;
        position: absolute;
        right: 40px;
        top: 20px;
        max-width: 33%;
      }
    }

    h1 {
      -webkit-text-stroke: 2px $border;
      color: transparent;
      font-size: 90px;
      line-height: 90px;
      padding-left: $standard-spacing;
    }

    &__content {
      padding-right: 100px;
    }

    &__right {
      display: flex;
      width: auto;
      margin-top: $big-spacing;

      img {
        transform: none;
        max-width: none;
        position: relative;
        max-width: 400px;
      }
    }

    &__nav {
      align-items: flex-start;
      margin-left: $standard-spacing;
      max-width: calc(66% - 50px);
      ul {
        justify-content: flex-start;
      }
    }

    &--fullheight {
      display: flex;
      padding-top: $big-spacing;

      img + h1 {
        writing-mode: vertical-rl;
        margin: 0;
        padding: 0;
      }

      h1.light {
        -webkit-text-stroke: 2px rgba(255,255,255, .6);
      }
    }
  }
}