.footer {
  background: $lightGray;
  margin-top: 110px;

  &__top {
    padding: 88px 0;
  }

  &__logo {
    padding-bottom: $standard-spacing;
  }

  &__contact {
    padding: $standard-spacing 0;
    @include simple-link();
  }

  &__social {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    padding: $standard-spacing 0;

    @include simple-link();
  }

  p {
    margin: 0;
    line-height: 24px;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 50px;

    @media (min-width: $lg) {
      margin-top: 0;
    }
  }

  h3 {
    font-size: 15px;
    font-weight: $medium;
    margin-top: 40px;
    margin-bottom: $standard-spacing;
  }

  ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding-bottom: $list-spacing;
      text-transform: capitalize;
    }
  }

  .newsletter {
    margin-top: $standard-spacing;
    input {
      &::placeholder {
        color: $black;
        opacity: 1;
      }
    }
  }

  &__payments {
    width: 100%;
    max-width: 324px;
  }

  &__bottom {
    border-top: 1px solid $border;
    padding: 35px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (min-width: $lg) {
      flex-direction: row;
    }
  }

  &__parameter {
    margin-top: $standard-spacing;

    img {
      padding-left: 10px;
    }

    &__name {
      display: inline-block;
      color: $lightTextColor;
      min-width: 80px;
    }

    @media (min-width: $lg) {
      display: inline-block;
      margin-top: 0;

      &:last-child {
        padding-left: 30px;
      }
    }
  }
}