.input {
  $input-padding: 17px;

  width: 100%;
  position: relative;
  margin-bottom: $double-spacing;

  input,
  textarea {
    width: 100%;
    border: $lightGray solid 2px;
    padding: $input-padding;

    &:focus-visible {
      border-color: $black;
      outline-style: none;
    }
  }

  label {
    $label-padding: 2px;
    position: absolute;
    top: $input-padding;
    left: calc(#{$input-padding} - #{$label-padding});
    padding: 0 $label-padding;
    color: $darkGray;
    background: $white;
    transition: .2s;
  }

  &.focused {
    label {
      top: calc(#{$root-font-size} / 2 * -1);
    }
  }

  &--checkbox {
    margin-bottom: $double-spacing;
    input {
      border: $lightGray solid 2px;
    }
  }
}