.input-number {
  display: flex;
  border: 2px solid $eggShell;

  button {
    margin: none;
    background: none;
    border: none;
    padding: 0 20px;

    &:active {
      background: $eggShell;
    }
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
  border: none;
  position: relative;
  text-align: center;
  width: 35px;

  &:active,
  &:focus,
  &:focus-visible {
    border: none;
  }

}