.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 0;
  z-index: 100;
  transition: box-shadow 200ms;
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    li { display: inline-block; }
  }

  &__menu,
  &__logo,
  &__icons {
    width: 30%;
  }

  &__menu {
    display: inline-block;
    position: relative;
    padding: 12px 10px;
    cursor: pointer;

    &__burger {
      height: 2px;
      width: 20px;
      background: $black;
      transition: 200ms;
      margin-right: 5px;
  
      &::after,
      &::before {
        content: "";
        position: absolute;
        display: inline-block;
        height: 2px;
        width: 25px;
        background: $black;
        transition: 200ms;
      }

      &::before {
        bottom: 6px;
      }

      &::after {
        top: 6px;
      }
    }

    &:hover &__burger {
      background: $corporate;
      width: 25px;
      margin-right: 0;

      &::after,
      &::before {
        background: $corporate;
      }
    }
  }

  &__logo {
    text-align: center;
    @include simple-link();
    img {
      width: 110px;
    }
  }

  &__icons {
    text-align: right;
    ul li {
      display: none;

      &.mobile {
        display: inline-block;
      }
    }
  }

  &__links {
    display: none;
  }

  @media (min-width: $lg) {
    &__logo,
    &__icons,
    &__menu {
      width: auto;
    }

    &__logo {
      order: 1;
    }

    &__links {
      order: 2;
      display: inline-block;
      padding-left: $gutter;
      flex-grow: 1;

      ul li {
        padding: 0 $gutter;

        a {
          text-transform: uppercase;
          transition: 200ms;
        }
  
        a:hover {
          color: $corporate;
        }
  
        a:active::after {
          background: $black;
          width: 25px;
        }
        
        a:hover::after {
          background: $corporate;
          width: 100%;
        }
      }
    }

    &__icons {
      order: 3;

      ul li {
        display: inline-block;
        padding: 0 $gutter;
      }
    }

    &__menu {
      order: 4;
    }
  }

  &--solid {
    background: $white;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);;
  }
}