.preview {
  cursor: pointer;
  margin-bottom: $standard-spacing;

  .btn {
    position: absolute;
    width: auto;
    left: 10px;
    right: 10px;
    bottom: 15px;
    opacity: 0;
    padding: $standard-spacing;
  }

  &:hover {
    .btn {
      opacity: 1;
    }

    .preview__link {
      color: $corporate;

      &::after {
        display: none;
      }
    }
  }

  &__image {
    position: relative;

    img {
      height: 120%;
    }
  }

  &__infos {
    padding: 0 2px;

    p {
      padding: 5px 0;
    }
  }

  &__old-price {
    color: $darkGray;
    text-decoration: line-through;
    margin-right: $standard-spacing;
  }

  &__new-price {
    color: $corporate;
  }

  &__light {
    color: $darkGray;
    display: flex;
    justify-content: space-between;
    padding: $standard-spacing 0;
  }

  &__favourite:hover {
    color: $corporate;
  }

  &__tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background: $white;
    padding: 5px 10px;
    text-transform: uppercase;

    &--right {
      left: unset;
      right: 10px;
    }

    &--dark {
      background: $black;
      color: $white;
    }

    &--primary {
      background: $corporate;
      color: $white;
    }
  }

  &__colors {
    display: flex;
    * {
      margin-right: 5px;
    }
    *:first-child {
      margin-left: 0;
    }
  }
}