.product {
  padding: 40px 0;

  &__images {
    display: flex;
    flex-direction: column;

    @media (min-width: $lg) {
      flex-direction: row;
    }
  }

  &__carousel {
    .slick-arrow {
      position: absolute;
      top: 50%;
      z-index: 2;
      background: $white;
      height: 45px;
      width: 45px;
      border-radius: 100%;
      border: none;
    }

    .slick-next {
      right: 36px;
      content: ">";
    }

    .slick-prev {
      left: 36px;
      content: "<";
    }

    @media (min-width: $lg) {
      order: 2;
    }
  }

  &__miniature {
    .product__image {
      padding: 15px 5px;

      @media (min-width: $lg) {
        padding: 5px 5px;

        &:first-child {
          padding: 0 5px;
        }
      }
    }

    .slick-list,
    .slick-track {
      padding: 0;
    }

    .slick-track {
      display: flex;
      justify-content: space-evenly;
    }

    @media (min-width: $lg) {
      order: 1;
      .slick-track {
        display: inline-block;
      }
    }
  }

  &__navigation {
    display: none;

    @media (min-width: $lg) {
      display: flex;
      justify-content: space-between;

      &__links {
        @include simple-links;

        a:last-child {
          margin-left: 30px;
        }
      }
    }
  }

  &__title {
    font-size: 20px;
    font-weight: $regular;
    padding-bottom: 18px;
    padding-top: 30px;
  }

  &__price {
    font-size: 22px;
    font-weight: $medium;
    padding-bottom: 27px;
  }

  &__summary {
    padding-bottom: 35px;
  }

  &__actions {
    display: flex;
    margin-bottom: 35px;

    & + a {
      margin-right: 33px;
    }

    .input-number {
      margin-right: 20px;
    }
  }

  &__caracteristics {
    @include simple-links;
    @include unstyle-list;

    padding-top: 35px;

    &__name {
      color: $darkGray;
    }
  }
}