.progress-bar {
  $bar-height: 6px;

  height: $bar-height;
  width: 300px;
  border-radius: calc(#{$bar-height} / 2);
  background: $lightGray;
  margin: $standard-spacing auto;
  overflow: hidden;

  .progress {
    background: $black;
    height: $bar-height;
    border-radius: calc(#{$bar-height} / 2);
  }

  @for $progress from 0 through 100 {
    .progress--#{$progress} {
      width: calc(100% * #{$progress} / 100);
  }
}
}