input[type='radio'] {
  opacity: 0;
  cursor: pointer;

  & + label {
    cursor: pointer;
    padding: 0 5px;
    margin-left: -20px;
    border-bottom: 2px solid transparent;
    transition: .2s;
  }

  &:checked + label {
    border-bottom: 2px solid $black;
  }
}