.reassurance {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    max-width: 50px;
  }

  &__title {
    padding-top: 20px;
    text-transform: uppercase;
  }

  &__content {
    padding-top: 10px;
    color: $darkGray;
  }
}