.review {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  &:last-child {
    border: none;
  }

  img {
    height: 60px;
    width: 60px;
    min-width: 60px;
    border-radius: 60px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    padding-right: $standard-spacing;
  }

  &__right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__name {

  }

  &__stars {
    color: $stars;
  }

  &__date {
    color: $darkGray;
  }

  &__comment {
    color: $darkGray;
  }
}