select {
  display: inline-block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-bottom: 2px solid $black;
  line-height: 24px;
  background-image: url("../../../images/icons/angle-down.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 12px;
  padding-right: 40px;

  option {
    padding-left: 0;
  }
}