.sort-bar {
  margin: $double-spacing 0;
  display: flex;
  justify-content: space-between;

  &__separator {
    padding: 0 30px;
    color: $lightGray;

    @media (max-width: $lg) {
      display: none;
    }
  }

  &__filters {
    @media (max-width: $lg) {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  @media (min-width: $lg) {
    .mobile-hidden {
      display: inline-block;
    }
  }
}