.tabs {
  padding: 10px 0;
  max-width: 930px;
  margin: 0 auto;

  &__titles {
    @include unstyle-list;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;

    li {
      cursor: pointer;
      position: relative;
      margin: 15px;

      &.active::after {
        content: '';
        height: 2px;
        width: 100%;
        background: $black;
        position: absolute;
        bottom: -5px;
        left: 0;
      }
    }
  }

  &__content {
    margin: $double-spacing 0;
    display: none;
    ul,
    ol {
      color: $list-bullets;
      padding-left: $root-font-size;

      li {
        padding: 10px 0;
      }

      .content {
        color: $black;
      }
    }
  }
}