.index {
  section {
    margin-bottom: $double-spacing;

    @media (min-width: $lg) {
      margin-bottom: 100px;
    }
  }

  .trendy {
    .h1 {
      margin: 0;
      padding: 0;
    }
  }

  .deal {
    overflow: hidden;
    padding-top: 210px;
    padding-bottom: 50px;
    position: relative;

    img {
      position: absolute;
      top: $double-spacing;
      right: $big-spacing;
      z-index: 1;
    }
  }

  .countdown {
    margin-top: 120px;
  }

  .reassurances {
    display: flex;
    flex-direction: column;

    .reassurance {
      margin-top: 75px;

      &:first-child {
        margin-top: 0;
      }
    }

    @media (min-width: $lg) {
      flex-direction: row;
      justify-content: space-evenly;
      
      .reassurance {
        margin-top: 0;
      }
    }
  }
}