.page-locator {
  $locator-height: 60vh;

  @media (min-width: $lg) {
    .locator {
      max-height: $locator-height;
    }
  }
  
  .stores {
    order: 2;
    margin-top: $standard-spacing;

    @media (min-width: $lg) {
      overflow-y: scroll;
      max-height: $locator-height;
      order: 1;
      margin-top: 0;
    }
    
    article {
      border-bottom: 1px solid $lightGray;
      padding-bottom: $double-spacing;
    }

    article:last-child {
      border-bottom: none;
    }

    &__adress {
      margin-bottom: 20px;
      p {
        margin: 0;
        padding: 0;
        line-height: 24px;
      }
    }
  }

  .map {
    order: 1;

    * {
      width: 100%;
      height: $locator-height;
    }

    @media (min-width: $lg) {
      margin-top: 0;
      order: 2;
    }
  }
}