@font-face {
  font-family: "Sofia pro";
  src: url("../../../fonts/Sofia/Sofia Pro Regular Az.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Sofia pro";
  src: url("../../../fonts/Sofia/Sofia Pro Medium Az.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Sofia pro";
  src: url("../../../fonts/Sofia/Sofia Pro Bold Az.otf");
  font-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-top: 64px;
  color: #222222;
  font-family: "Sofia pro";
  font-size: 14px;
}

body.haspattern {
  background: url("../../../images/pattern_bg.svg");
  background-repeat: no-repeat;
}

h1,
.h1 {
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 50px;
  text-transform: uppercase;
  margin: 0;
}

h1 + h2 {
  padding-top: 0;
}

h2 {
  font-size: 1.85rem;
  font-weight: 500;
  margin: 0;
  padding-top: 50px;
}

h3 {
  font-size: 1.14rem;
  font-weight: 500;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 15px;
}

h4 {
  font-size: 14px;
  font-weight: 500;
}
h4.no-bottom-space {
  margin-bottom: 0;
}

p {
  margin: 0;
  padding-top: 16px;
  line-height: 24px;
}

.text--bigger {
  font-size: 1.14rem;
}

a {
  color: #222222;
  position: relative;
  text-decoration: none;
}
a.icon-link {
  display: inline-flex;
  align-items: center;
}
a.icon-link img {
  margin-right: 10px;
}
a.icon-link:hover::after, a.icon-link.selected::after {
  width: 80%;
}
a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  display: inline-block;
  height: 2px;
  width: 0;
  transition: all 200ms;
}
a:hover::after, a.selected::after {
  background: #222222;
  width: 25px;
}
a.underlined-link {
  text-transform: uppercase;
}
a.underlined-link::after {
  background: black;
  width: 66%;
}
a.underlined-link:hover {
  color: #D6001C;
}
a.underlined-link:hover::after {
  background: #D6001C;
  width: 100%;
}

img {
  max-width: 100%;
}

.content {
  width: 66%;
  min-width: 300px;
  margin: 150px auto;
  margin-bottom: 0;
}

table th,
table td {
  padding: 15px 0;
}
table th {
  text-align: start;
}
table td {
  padding-left: 50px;
}

@media (max-width: 992px) {
  .mobile-hidden {
    display: none;
  }
}
.container {
  width: calc(100% - 2 * 15px);
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: calc(1400px + 60px * 2)) {
  .container--fullwidth {
    width: calc(100% - 2 * 60px);
    margin-right: auto;
    margin-left: auto;
  }
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
}

[class*=col-].row {
  margin-right: -15px;
  margin-left: 0;
  padding: 0;
}

@media (min-width: 0px) {
  .col-xs-1 {
    width: calc(100% / 12 * 1);
    padding: 15px;
  }

  .col-xs-2 {
    width: calc(100% / 12 * 2);
    padding: 15px;
  }

  .col-xs-3 {
    width: calc(100% / 12 * 3);
    padding: 15px;
  }

  .col-xs-4 {
    width: calc(100% / 12 * 4);
    padding: 15px;
  }

  .col-xs-5 {
    width: calc(100% / 12 * 5);
    padding: 15px;
  }

  .col-xs-6 {
    width: calc(100% / 12 * 6);
    padding: 15px;
  }

  .col-xs-7 {
    width: calc(100% / 12 * 7);
    padding: 15px;
  }

  .col-xs-8 {
    width: calc(100% / 12 * 8);
    padding: 15px;
  }

  .col-xs-9 {
    width: calc(100% / 12 * 9);
    padding: 15px;
  }

  .col-xs-10 {
    width: calc(100% / 12 * 10);
    padding: 15px;
  }

  .col-xs-11 {
    width: calc(100% / 12 * 11);
    padding: 15px;
  }

  .col-xs-12 {
    width: calc(100% / 12 * 12);
    padding: 15px;
  }
}
@media (min-width: 676px) {
  .col-sm-1 {
    width: calc(100% / 12 * 1);
    padding: 15px;
  }

  .col-sm-2 {
    width: calc(100% / 12 * 2);
    padding: 15px;
  }

  .col-sm-3 {
    width: calc(100% / 12 * 3);
    padding: 15px;
  }

  .col-sm-4 {
    width: calc(100% / 12 * 4);
    padding: 15px;
  }

  .col-sm-5 {
    width: calc(100% / 12 * 5);
    padding: 15px;
  }

  .col-sm-6 {
    width: calc(100% / 12 * 6);
    padding: 15px;
  }

  .col-sm-7 {
    width: calc(100% / 12 * 7);
    padding: 15px;
  }

  .col-sm-8 {
    width: calc(100% / 12 * 8);
    padding: 15px;
  }

  .col-sm-9 {
    width: calc(100% / 12 * 9);
    padding: 15px;
  }

  .col-sm-10 {
    width: calc(100% / 12 * 10);
    padding: 15px;
  }

  .col-sm-11 {
    width: calc(100% / 12 * 11);
    padding: 15px;
  }

  .col-sm-12 {
    width: calc(100% / 12 * 12);
    padding: 15px;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: calc(100% / 12 * 1);
    padding: 15px;
  }

  .col-md-2 {
    width: calc(100% / 12 * 2);
    padding: 15px;
  }

  .col-md-3 {
    width: calc(100% / 12 * 3);
    padding: 15px;
  }

  .col-md-4 {
    width: calc(100% / 12 * 4);
    padding: 15px;
  }

  .col-md-5 {
    width: calc(100% / 12 * 5);
    padding: 15px;
  }

  .col-md-6 {
    width: calc(100% / 12 * 6);
    padding: 15px;
  }

  .col-md-7 {
    width: calc(100% / 12 * 7);
    padding: 15px;
  }

  .col-md-8 {
    width: calc(100% / 12 * 8);
    padding: 15px;
  }

  .col-md-9 {
    width: calc(100% / 12 * 9);
    padding: 15px;
  }

  .col-md-10 {
    width: calc(100% / 12 * 10);
    padding: 15px;
  }

  .col-md-11 {
    width: calc(100% / 12 * 11);
    padding: 15px;
  }

  .col-md-12 {
    width: calc(100% / 12 * 12);
    padding: 15px;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: calc(100% / 12 * 1);
    padding: 15px;
  }

  .col-lg-2 {
    width: calc(100% / 12 * 2);
    padding: 15px;
  }

  .col-lg-3 {
    width: calc(100% / 12 * 3);
    padding: 15px;
  }

  .col-lg-4 {
    width: calc(100% / 12 * 4);
    padding: 15px;
  }

  .col-lg-5 {
    width: calc(100% / 12 * 5);
    padding: 15px;
  }

  .col-lg-6 {
    width: calc(100% / 12 * 6);
    padding: 15px;
  }

  .col-lg-7 {
    width: calc(100% / 12 * 7);
    padding: 15px;
  }

  .col-lg-8 {
    width: calc(100% / 12 * 8);
    padding: 15px;
  }

  .col-lg-9 {
    width: calc(100% / 12 * 9);
    padding: 15px;
  }

  .col-lg-10 {
    width: calc(100% / 12 * 10);
    padding: 15px;
  }

  .col-lg-11 {
    width: calc(100% / 12 * 11);
    padding: 15px;
  }

  .col-lg-12 {
    width: calc(100% / 12 * 12);
    padding: 15px;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    width: calc(100% / 12 * 1);
    padding: 15px;
  }

  .col-xl-2 {
    width: calc(100% / 12 * 2);
    padding: 15px;
  }

  .col-xl-3 {
    width: calc(100% / 12 * 3);
    padding: 15px;
  }

  .col-xl-4 {
    width: calc(100% / 12 * 4);
    padding: 15px;
  }

  .col-xl-5 {
    width: calc(100% / 12 * 5);
    padding: 15px;
  }

  .col-xl-6 {
    width: calc(100% / 12 * 6);
    padding: 15px;
  }

  .col-xl-7 {
    width: calc(100% / 12 * 7);
    padding: 15px;
  }

  .col-xl-8 {
    width: calc(100% / 12 * 8);
    padding: 15px;
  }

  .col-xl-9 {
    width: calc(100% / 12 * 9);
    padding: 15px;
  }

  .col-xl-10 {
    width: calc(100% / 12 * 10);
    padding: 15px;
  }

  .col-xl-11 {
    width: calc(100% / 12 * 11);
    padding: 15px;
  }

  .col-xl-12 {
    width: calc(100% / 12 * 12);
    padding: 15px;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    width: calc(100% / 12 * 1);
    padding: 15px;
  }

  .col-xxl-2 {
    width: calc(100% / 12 * 2);
    padding: 15px;
  }

  .col-xxl-3 {
    width: calc(100% / 12 * 3);
    padding: 15px;
  }

  .col-xxl-4 {
    width: calc(100% / 12 * 4);
    padding: 15px;
  }

  .col-xxl-5 {
    width: calc(100% / 12 * 5);
    padding: 15px;
  }

  .col-xxl-6 {
    width: calc(100% / 12 * 6);
    padding: 15px;
  }

  .col-xxl-7 {
    width: calc(100% / 12 * 7);
    padding: 15px;
  }

  .col-xxl-8 {
    width: calc(100% / 12 * 8);
    padding: 15px;
  }

  .col-xxl-9 {
    width: calc(100% / 12 * 9);
    padding: 15px;
  }

  .col-xxl-10 {
    width: calc(100% / 12 * 10);
    padding: 15px;
  }

  .col-xxl-11 {
    width: calc(100% / 12 * 11);
    padding: 15px;
  }

  .col-xxl-12 {
    width: calc(100% / 12 * 12);
    padding: 15px;
  }
}
.no-gutter {
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 0;
  z-index: 100;
  transition: box-shadow 200ms;
}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar ul li {
  display: inline-block;
}
.navbar__menu, .navbar__logo, .navbar__icons {
  width: 30%;
}
.navbar__menu {
  display: inline-block;
  position: relative;
  padding: 12px 10px;
  cursor: pointer;
}
.navbar__menu__burger {
  height: 2px;
  width: 20px;
  background: #222222;
  transition: 200ms;
  margin-right: 5px;
}
.navbar__menu__burger::after, .navbar__menu__burger::before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 2px;
  width: 25px;
  background: #222222;
  transition: 200ms;
}
.navbar__menu__burger::before {
  bottom: 6px;
}
.navbar__menu__burger::after {
  top: 6px;
}
.navbar__menu:hover .navbar__menu__burger {
  background: #D6001C;
  width: 25px;
  margin-right: 0;
}
.navbar__menu:hover .navbar__menu__burger::after, .navbar__menu:hover .navbar__menu__burger::before {
  background: #D6001C;
}
.navbar__logo {
  text-align: center;
}
.navbar__logo a::after {
  display: none;
}
.navbar__logo a:hover {
  color: #D6001C;
}
.navbar__logo img {
  width: 110px;
}
.navbar__icons {
  text-align: right;
}
.navbar__icons ul li {
  display: none;
}
.navbar__icons ul li.mobile {
  display: inline-block;
}
.navbar__links {
  display: none;
}
@media (min-width: 992px) {
  .navbar__logo, .navbar__icons, .navbar__menu {
    width: auto;
  }
  .navbar__logo {
    order: 1;
  }
  .navbar__links {
    order: 2;
    display: inline-block;
    padding-left: 15px;
    flex-grow: 1;
  }
  .navbar__links ul li {
    padding: 0 15px;
  }
  .navbar__links ul li a {
    text-transform: uppercase;
    transition: 200ms;
  }
  .navbar__links ul li a:hover {
    color: #D6001C;
  }
  .navbar__links ul li a:active::after {
    background: #222222;
    width: 25px;
  }
  .navbar__links ul li a:hover::after {
    background: #D6001C;
    width: 100%;
  }
  .navbar__icons {
    order: 3;
  }
  .navbar__icons ul li {
    display: inline-block;
    padding: 0 15px;
  }
  .navbar__menu {
    order: 4;
  }
}
.navbar--solid {
  background: #ffffff;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: 200ms;
  border: 3px solid transparent;
  cursor: pointer;
}
@media (min-width: 768px) {
  .btn {
    width: auto;
    padding: 15px 100px;
  }
}
.btn--primary {
  color: #ffffff;
  background: #222222;
}
.btn--primary:hover {
  background: #ffffff;
  border-color: #222222;
  color: #222222;
}
.btn--secondary {
  color: #222222;
  background: #ffffff;
}
.btn--secondary:hover {
  border-color: #D6001C;
  color: #D6001C;
}
.btn--large {
  padding: 19px 0px;
}
@media (min-width: 768px) {
  .btn--large {
    padding: 19px 140px;
  }
}
.btn--fullwidth {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.btn--simple {
  padding: 0;
  background: none;
  width: auto;
}
.btn::after {
  display: none;
}

.alert {
  width: 100%;
  text-align: center;
  position: absolute;
  padding: 0 15px;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 992px) {
  .alert {
    max-width: 476px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.alert__title {
  margin: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 7.14rem;
}
.alert__caption {
  margin-bottom: 23px;
}

.footer {
  background: #E4E4E4;
  margin-top: 110px;
}
.footer__top {
  padding: 88px 0;
}
.footer__logo {
  padding-bottom: 15px;
}
.footer__contact {
  padding: 15px 0;
}
.footer__contact a::after {
  display: none;
}
.footer__contact a:hover {
  color: #D6001C;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  padding: 15px 0;
}
.footer__social a::after {
  display: none;
}
.footer__social a:hover {
  color: #D6001C;
}
.footer p {
  margin: 0;
  line-height: 24px;
}
.footer h2 {
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 50px;
}
@media (min-width: 992px) {
  .footer h2 {
    margin-top: 0;
  }
}
.footer h3 {
  font-size: 15px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 15px;
}
.footer ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer ul li {
  padding-bottom: 20px;
  text-transform: capitalize;
}
.footer .newsletter {
  margin-top: 15px;
}
.footer .newsletter input::placeholder {
  color: #222222;
  opacity: 1;
}
.footer__payments {
  width: 100%;
  max-width: 324px;
}
.footer__bottom {
  border-top: 1px solid gray;
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .footer__bottom {
    flex-direction: row;
  }
}
.footer__parameter {
  margin-top: 15px;
}
.footer__parameter img {
  padding-left: 10px;
}
.footer__parameter__name {
  display: inline-block;
  color: #767676;
  min-width: 80px;
}
@media (min-width: 992px) {
  .footer__parameter {
    display: inline-block;
    margin-top: 0;
  }
  .footer__parameter:last-child {
    padding-left: 30px;
  }
}

.accordion__title {
  border-bottom: 1px solid #E4E4E4;
  position: relative;
  cursor: pointer;
}
.accordion__title::after {
  content: "+";
  bottom: 15px;
  position: absolute;
  bottom: 15px;
  right: 0;
}
.accordion__toggler {
  bottom: 15px;
  position: absolute;
  bottom: 15px;
  right: 0;
}
.accordion--open .accordion__title {
  border-color: #222222;
}
.accordion--open .accordion__title::after {
  content: "-";
}
.accordion p {
  visibility: hidden;
  height: 0;
}
.accordion--open p {
  visibility: visible;
  height: auto;
}

.button-input {
  background: #ffffff;
  display: flex;
  border: 1px solid #E4E4E4;
}
.button-input input,
.button-input button {
  padding: 15px 20px;
  border: none;
  background: transparent;
  font-size: 14px;
}
.button-input input {
  flex-grow: 1;
  min-width: 0;
  padding-right: 0;
}
.button-input input::placeholder {
  color: #767676;
  opacity: 1;
}
.button-input button {
  min-width: 70px;
  color: #222222;
  cursor: pointer;
}

.preview {
  cursor: pointer;
  margin-bottom: 15px;
}
.preview .btn {
  position: absolute;
  width: auto;
  left: 10px;
  right: 10px;
  bottom: 15px;
  opacity: 0;
  padding: 15px;
}
.preview:hover .btn {
  opacity: 1;
}
.preview:hover .preview__link {
  color: #D6001C;
}
.preview:hover .preview__link::after {
  display: none;
}
.preview__image {
  position: relative;
}
.preview__image img {
  height: 120%;
}
.preview__infos {
  padding: 0 2px;
}
.preview__infos p {
  padding: 5px 0;
}
.preview__old-price {
  color: #767676;
  text-decoration: line-through;
  margin-right: 15px;
}
.preview__new-price {
  color: #D6001C;
}
.preview__light {
  color: #767676;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.preview__favourite:hover {
  color: #D6001C;
}
.preview__tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #ffffff;
  padding: 5px 10px;
  text-transform: uppercase;
}
.preview__tag--right {
  left: unset;
  right: 10px;
}
.preview__tag--dark {
  background: #222222;
  color: #ffffff;
}
.preview__tag--primary {
  background: #D6001C;
  color: #ffffff;
}
.preview__colors {
  display: flex;
}
.preview__colors * {
  margin-right: 5px;
}
.preview__colors *:first-child {
  margin-left: 0;
}

.color-picker {
  display: inline-block;
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background: red;
  margin-top: calc(8px - 2px);
  margin-left: calc(8px - 2px);
}
.color-picker:hover::before, .color-picker:focus::before, .color-picker--selected::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: calc(10px + 8px);
  width: calc(10px + 8px);
  border-radius: 100%;
  background: none;
  border: 2px solid #222222;
  top: calc(8px / 2 * -1);
  left: calc(8px / 2 * -1);
}

.show-more {
  text-align: center;
  margin-top: 50px;
}

.progress-bar {
  height: 6px;
  width: 300px;
  border-radius: calc(6px / 2);
  background: #E4E4E4;
  margin: 15px auto;
  overflow: hidden;
}
.progress-bar .progress {
  background: #222222;
  height: 6px;
  border-radius: calc(6px / 2);
}
.progress-bar .progress--0 {
  width: calc(100% * 0 / 100);
}
.progress-bar .progress--1 {
  width: calc(100% * 1 / 100);
}
.progress-bar .progress--2 {
  width: calc(100% * 2 / 100);
}
.progress-bar .progress--3 {
  width: calc(100% * 3 / 100);
}
.progress-bar .progress--4 {
  width: calc(100% * 4 / 100);
}
.progress-bar .progress--5 {
  width: calc(100% * 5 / 100);
}
.progress-bar .progress--6 {
  width: calc(100% * 6 / 100);
}
.progress-bar .progress--7 {
  width: calc(100% * 7 / 100);
}
.progress-bar .progress--8 {
  width: calc(100% * 8 / 100);
}
.progress-bar .progress--9 {
  width: calc(100% * 9 / 100);
}
.progress-bar .progress--10 {
  width: calc(100% * 10 / 100);
}
.progress-bar .progress--11 {
  width: calc(100% * 11 / 100);
}
.progress-bar .progress--12 {
  width: calc(100% * 12 / 100);
}
.progress-bar .progress--13 {
  width: calc(100% * 13 / 100);
}
.progress-bar .progress--14 {
  width: calc(100% * 14 / 100);
}
.progress-bar .progress--15 {
  width: calc(100% * 15 / 100);
}
.progress-bar .progress--16 {
  width: calc(100% * 16 / 100);
}
.progress-bar .progress--17 {
  width: calc(100% * 17 / 100);
}
.progress-bar .progress--18 {
  width: calc(100% * 18 / 100);
}
.progress-bar .progress--19 {
  width: calc(100% * 19 / 100);
}
.progress-bar .progress--20 {
  width: calc(100% * 20 / 100);
}
.progress-bar .progress--21 {
  width: calc(100% * 21 / 100);
}
.progress-bar .progress--22 {
  width: calc(100% * 22 / 100);
}
.progress-bar .progress--23 {
  width: calc(100% * 23 / 100);
}
.progress-bar .progress--24 {
  width: calc(100% * 24 / 100);
}
.progress-bar .progress--25 {
  width: calc(100% * 25 / 100);
}
.progress-bar .progress--26 {
  width: calc(100% * 26 / 100);
}
.progress-bar .progress--27 {
  width: calc(100% * 27 / 100);
}
.progress-bar .progress--28 {
  width: calc(100% * 28 / 100);
}
.progress-bar .progress--29 {
  width: calc(100% * 29 / 100);
}
.progress-bar .progress--30 {
  width: calc(100% * 30 / 100);
}
.progress-bar .progress--31 {
  width: calc(100% * 31 / 100);
}
.progress-bar .progress--32 {
  width: calc(100% * 32 / 100);
}
.progress-bar .progress--33 {
  width: calc(100% * 33 / 100);
}
.progress-bar .progress--34 {
  width: calc(100% * 34 / 100);
}
.progress-bar .progress--35 {
  width: calc(100% * 35 / 100);
}
.progress-bar .progress--36 {
  width: calc(100% * 36 / 100);
}
.progress-bar .progress--37 {
  width: calc(100% * 37 / 100);
}
.progress-bar .progress--38 {
  width: calc(100% * 38 / 100);
}
.progress-bar .progress--39 {
  width: calc(100% * 39 / 100);
}
.progress-bar .progress--40 {
  width: calc(100% * 40 / 100);
}
.progress-bar .progress--41 {
  width: calc(100% * 41 / 100);
}
.progress-bar .progress--42 {
  width: calc(100% * 42 / 100);
}
.progress-bar .progress--43 {
  width: calc(100% * 43 / 100);
}
.progress-bar .progress--44 {
  width: calc(100% * 44 / 100);
}
.progress-bar .progress--45 {
  width: calc(100% * 45 / 100);
}
.progress-bar .progress--46 {
  width: calc(100% * 46 / 100);
}
.progress-bar .progress--47 {
  width: calc(100% * 47 / 100);
}
.progress-bar .progress--48 {
  width: calc(100% * 48 / 100);
}
.progress-bar .progress--49 {
  width: calc(100% * 49 / 100);
}
.progress-bar .progress--50 {
  width: calc(100% * 50 / 100);
}
.progress-bar .progress--51 {
  width: calc(100% * 51 / 100);
}
.progress-bar .progress--52 {
  width: calc(100% * 52 / 100);
}
.progress-bar .progress--53 {
  width: calc(100% * 53 / 100);
}
.progress-bar .progress--54 {
  width: calc(100% * 54 / 100);
}
.progress-bar .progress--55 {
  width: calc(100% * 55 / 100);
}
.progress-bar .progress--56 {
  width: calc(100% * 56 / 100);
}
.progress-bar .progress--57 {
  width: calc(100% * 57 / 100);
}
.progress-bar .progress--58 {
  width: calc(100% * 58 / 100);
}
.progress-bar .progress--59 {
  width: calc(100% * 59 / 100);
}
.progress-bar .progress--60 {
  width: calc(100% * 60 / 100);
}
.progress-bar .progress--61 {
  width: calc(100% * 61 / 100);
}
.progress-bar .progress--62 {
  width: calc(100% * 62 / 100);
}
.progress-bar .progress--63 {
  width: calc(100% * 63 / 100);
}
.progress-bar .progress--64 {
  width: calc(100% * 64 / 100);
}
.progress-bar .progress--65 {
  width: calc(100% * 65 / 100);
}
.progress-bar .progress--66 {
  width: calc(100% * 66 / 100);
}
.progress-bar .progress--67 {
  width: calc(100% * 67 / 100);
}
.progress-bar .progress--68 {
  width: calc(100% * 68 / 100);
}
.progress-bar .progress--69 {
  width: calc(100% * 69 / 100);
}
.progress-bar .progress--70 {
  width: calc(100% * 70 / 100);
}
.progress-bar .progress--71 {
  width: calc(100% * 71 / 100);
}
.progress-bar .progress--72 {
  width: calc(100% * 72 / 100);
}
.progress-bar .progress--73 {
  width: calc(100% * 73 / 100);
}
.progress-bar .progress--74 {
  width: calc(100% * 74 / 100);
}
.progress-bar .progress--75 {
  width: calc(100% * 75 / 100);
}
.progress-bar .progress--76 {
  width: calc(100% * 76 / 100);
}
.progress-bar .progress--77 {
  width: calc(100% * 77 / 100);
}
.progress-bar .progress--78 {
  width: calc(100% * 78 / 100);
}
.progress-bar .progress--79 {
  width: calc(100% * 79 / 100);
}
.progress-bar .progress--80 {
  width: calc(100% * 80 / 100);
}
.progress-bar .progress--81 {
  width: calc(100% * 81 / 100);
}
.progress-bar .progress--82 {
  width: calc(100% * 82 / 100);
}
.progress-bar .progress--83 {
  width: calc(100% * 83 / 100);
}
.progress-bar .progress--84 {
  width: calc(100% * 84 / 100);
}
.progress-bar .progress--85 {
  width: calc(100% * 85 / 100);
}
.progress-bar .progress--86 {
  width: calc(100% * 86 / 100);
}
.progress-bar .progress--87 {
  width: calc(100% * 87 / 100);
}
.progress-bar .progress--88 {
  width: calc(100% * 88 / 100);
}
.progress-bar .progress--89 {
  width: calc(100% * 89 / 100);
}
.progress-bar .progress--90 {
  width: calc(100% * 90 / 100);
}
.progress-bar .progress--91 {
  width: calc(100% * 91 / 100);
}
.progress-bar .progress--92 {
  width: calc(100% * 92 / 100);
}
.progress-bar .progress--93 {
  width: calc(100% * 93 / 100);
}
.progress-bar .progress--94 {
  width: calc(100% * 94 / 100);
}
.progress-bar .progress--95 {
  width: calc(100% * 95 / 100);
}
.progress-bar .progress--96 {
  width: calc(100% * 96 / 100);
}
.progress-bar .progress--97 {
  width: calc(100% * 97 / 100);
}
.progress-bar .progress--98 {
  width: calc(100% * 98 / 100);
}
.progress-bar .progress--99 {
  width: calc(100% * 99 / 100);
}
.progress-bar .progress--100 {
  width: calc(100% * 100 / 100);
}

.sort-bar {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}
.sort-bar__separator {
  padding: 0 30px;
  color: #E4E4E4;
}
@media (max-width: 992px) {
  .sort-bar__separator {
    display: none;
  }
}
@media (max-width: 992px) {
  .sort-bar__filters {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .sort-bar .mobile-hidden {
    display: inline-block;
  }
}

.breadcrumb a {
  text-transform: uppercase;
}
.breadcrumb a:hover {
  color: #D6001C;
}
.breadcrumb a:hover::after {
  display: none;
}
@media (max-width: 992px) {
  .breadcrumb {
    display: none;
  }
}

.cover {
  display: flex;
  position: relative;
  align-items: center;
  text-transform: uppercase;
  overflow: hidden;
}
.cover__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.cover__nav h1 {
  padding-bottom: 0;
}
.cover__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.cover__nav ul li {
  padding: 0 15px;
  margin-bottom: 30px;
}
.cover__title {
  padding: 15px 0;
}
.cover__content {
  padding-left: 30px;
  z-index: 2;
}
.cover__right {
  overflow: visible;
  width: 100px;
}
.cover__right img {
  position: initial;
  max-width: 400px;
  transform: translateX(-20%);
  z-index: 0;
}
.cover__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #EEEEEE;
  background-image: url("../../../images/pattern_white.svg");
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 80vh;
}
.cover--fullheight {
  height: 80vh;
}
.cover--fullheight .cover__overlay {
  display: block;
}
.cover + .content {
  margin-top: 36px;
}
@media (min-width: 992px) {
  .cover {
    width: calc(100% - 15px * 2);
    min-height: 80vh;
    padding: 20px 0px;
    margin: 0 auto;
    border: 2px solid #EEEEEE;
    overflow: hidden;
  }
  .cover__overlay {
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(80vh - 20px);
  }
  .cover__overlay img {
    display: block;
    position: absolute;
    right: 40px;
    top: 20px;
    max-width: 33%;
  }
  .cover h1 {
    -webkit-text-stroke: 2px gray;
    color: transparent;
    font-size: 90px;
    line-height: 90px;
    padding-left: 15px;
  }
  .cover__content {
    padding-right: 100px;
  }
  .cover__right {
    display: flex;
    width: auto;
    margin-top: 50px;
  }
  .cover__right img {
    transform: none;
    max-width: none;
    position: relative;
    max-width: 400px;
  }
  .cover__nav {
    align-items: flex-start;
    margin-left: 15px;
    max-width: calc(66% - 50px);
  }
  .cover__nav ul {
    justify-content: flex-start;
  }
  .cover--fullheight {
    display: flex;
    padding-top: 50px;
  }
  .cover--fullheight img + h1 {
    writing-mode: vertical-rl;
    margin: 0;
    padding: 0;
  }
  .cover--fullheight h1.light {
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.6);
  }
}

select {
  display: inline-block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-bottom: 2px solid #222222;
  line-height: 24px;
  background-image: url("../../../images/icons/angle-down.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 12px;
  padding-right: 40px;
}
select option {
  padding-left: 0;
}

input[type=radio] {
  opacity: 0;
  cursor: pointer;
}
input[type=radio] + label {
  cursor: pointer;
  padding: 0 5px;
  margin-left: -20px;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}
input[type=radio]:checked + label {
  border-bottom: 2px solid #222222;
}

.product {
  padding: 40px 0;
}
.product__images {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .product__images {
    flex-direction: row;
  }
}
.product__carousel .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  background: #ffffff;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  border: none;
}
.product__carousel .slick-next {
  right: 36px;
  content: ">";
}
.product__carousel .slick-prev {
  left: 36px;
  content: "<";
}
@media (min-width: 992px) {
  .product__carousel {
    order: 2;
  }
}
.product__miniature .product__image {
  padding: 15px 5px;
}
@media (min-width: 992px) {
  .product__miniature .product__image {
    padding: 5px 5px;
  }
  .product__miniature .product__image:first-child {
    padding: 0 5px;
  }
}
.product__miniature .slick-list,
.product__miniature .slick-track {
  padding: 0;
}
.product__miniature .slick-track {
  display: flex;
  justify-content: space-evenly;
}
@media (min-width: 992px) {
  .product__miniature {
    order: 1;
  }
  .product__miniature .slick-track {
    display: inline-block;
  }
}
.product__navigation {
  display: none;
}
@media (min-width: 992px) {
  .product__navigation {
    display: flex;
    justify-content: space-between;
  }
  .product__navigation__links a:hover {
    color: #D6001C;
  }
  .product__navigation__links a:hover::after, .product__navigation__links a:hover.selected::after {
    background: none;
  }
  .product__navigation__links a:last-child {
    margin-left: 30px;
  }
}
.product__title {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 18px;
  padding-top: 30px;
}
.product__price {
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 27px;
}
.product__summary {
  padding-bottom: 35px;
}
.product__actions {
  display: flex;
  margin-bottom: 35px;
}
.product__actions + a {
  margin-right: 33px;
}
.product__actions .input-number {
  margin-right: 20px;
}
.product__caracteristics {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 35px;
}
.product__caracteristics a:hover {
  color: #D6001C;
}
.product__caracteristics a:hover::after, .product__caracteristics a:hover.selected::after {
  background: none;
}
.product__caracteristics__name {
  color: #767676;
}

.input-number {
  display: flex;
  border: 2px solid #EEEEEE;
}
.input-number button {
  margin: none;
  background: none;
  border: none;
  padding: 0 20px;
}
.input-number button:active {
  background: #EEEEEE;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  border: none;
  position: relative;
  text-align: center;
  width: 35px;
}
input[type=number]:active, input[type=number]:focus, input[type=number]:focus-visible {
  border: none;
}

.tabs {
  padding: 10px 0;
  max-width: 930px;
  margin: 0 auto;
}
.tabs__titles {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
}
.tabs__titles li {
  cursor: pointer;
  position: relative;
  margin: 15px;
}
.tabs__titles li.active::after {
  content: "";
  height: 2px;
  width: 100%;
  background: #222222;
  position: absolute;
  bottom: -5px;
  left: 0;
}
.tabs__content {
  margin: 30px 0;
  display: none;
}
.tabs__content ul,
.tabs__content ol {
  color: #c4c4c4;
  padding-left: 14px;
}
.tabs__content ul li,
.tabs__content ol li {
  padding: 10px 0;
}
.tabs__content ul .content,
.tabs__content ol .content {
  color: #222222;
}

.review {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #E4E4E4;
}
.review:last-child {
  border: none;
}
.review img {
  height: 60px;
  width: 60px;
  min-width: 60px;
  border-radius: 60px;
}
.review__header {
  display: flex;
  justify-content: space-between;
}
.review__left {
  padding-right: 15px;
}
.review__right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.review__stars {
  color: #EEBA36;
}
.review__date {
  color: #767676;
}
.review__comment {
  color: #767676;
}

.add-review__title {
  font-size: 18px;
  font-weight: 500;
}
.add-review form {
  margin: 30px 0;
}
.add-review form .stars-input {
  margin-bottom: 30px;
}
.add-review form .stars-input i {
  font-size: 12px;
  color: #EEBA36;
}

.input {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.input input,
.input textarea {
  width: 100%;
  border: #E4E4E4 solid 2px;
  padding: 17px;
}
.input input:focus-visible,
.input textarea:focus-visible {
  border-color: #222222;
  outline-style: none;
}
.input label {
  position: absolute;
  top: 17px;
  left: calc(17px - 2px);
  padding: 0 2px;
  color: #767676;
  background: #ffffff;
  transition: 0.2s;
}
.input.focused label {
  top: calc(14px / 2 * -1);
}
.input--checkbox {
  margin-bottom: 30px;
}
.input--checkbox input {
  border: #E4E4E4 solid 2px;
}

.card {
  background-color: #E4E4E4;
  height: 100%;
  min-height: 285px;
  position: relative;
  overflow: hidden;
  transition: 0.2s;
}
.card img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.card__content {
  position: absolute;
  left: 40px;
  bottom: 40px;
  z-index: 2;
}
.card__title {
  text-transform: uppercase;
  padding: 0;
}
.card__subtitle {
  text-transform: uppercase;
  color: #767676;
}
.card:hover {
  box-shadow: 5px 5px 10px #E4E4E4;
}
.card--red {
  background-color: #D6001C;
  color: #ffffff;
}
.card--red a {
  color: #ffffff;
}
.card--red a::after {
  background: #ffffff;
}
.card--red .card__subtitle {
  color: #ffffff;
}

.countdown__digit {
  position: relative;
  font-size: 1.85rem;
  padding-bottom: 1.85rem;
  padding-left: 10px;
  padding-right: 10px;
}
.countdown__label {
  font-size: 14px;
  color: #767676;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 10px;
}

.reassurance {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reassurance img {
  max-width: 50px;
}
.reassurance__title {
  padding-top: 20px;
  text-transform: uppercase;
}
.reassurance__content {
  padding-top: 10px;
  color: #767676;
}

@media (min-width: 992px) {
  .page-locator .locator {
    max-height: 60vh;
  }
}
.page-locator .stores {
  order: 2;
  margin-top: 15px;
}
@media (min-width: 992px) {
  .page-locator .stores {
    overflow-y: scroll;
    max-height: 60vh;
    order: 1;
    margin-top: 0;
  }
}
.page-locator .stores article {
  border-bottom: 1px solid #E4E4E4;
  padding-bottom: 30px;
}
.page-locator .stores article:last-child {
  border-bottom: none;
}
.page-locator .stores__adress {
  margin-bottom: 20px;
}
.page-locator .stores__adress p {
  margin: 0;
  padding: 0;
  line-height: 24px;
}
.page-locator .map {
  order: 1;
}
.page-locator .map * {
  width: 100%;
  height: 60vh;
}
@media (min-width: 992px) {
  .page-locator .map {
    margin-top: 0;
    order: 2;
  }
}

.shop-single .related-products {
  display: none;
}
@media (min-width: 992px) {
  .shop-single .related-products {
    display: flex;
  }
}
.shop-single .related-products h2 {
  margin-bottom: 30px;
}

.index section {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .index section {
    margin-bottom: 100px;
  }
}
.index .trendy .h1 {
  margin: 0;
  padding: 0;
}
.index .deal {
  overflow: hidden;
  padding-top: 210px;
  padding-bottom: 50px;
  position: relative;
}
.index .deal img {
  position: absolute;
  top: 30px;
  right: 50px;
  z-index: 1;
}
.index .countdown {
  margin-top: 120px;
}
.index .reassurances {
  display: flex;
  flex-direction: column;
}
.index .reassurances .reassurance {
  margin-top: 75px;
}
.index .reassurances .reassurance:first-child {
  margin-top: 0;
}
@media (min-width: 992px) {
  .index .reassurances {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .index .reassurances .reassurance {
    margin-top: 0;
  }
}

.bg-salmon {
  background-color: #F5E6E0;
}

.bg-beige {
  background-color: #EAE9E7;
}

.bg-gray {
  background: #CFCDCD;
}

.desktop-only {
  display: none;
}
@media (min-width: 992px) {
  .desktop-only {
    display: initial;
  }
}

.regular-weight {
  font-weight: 400;
}

.text-centered {
  text-align: center;
}

.text-capitalize {
  text-transform: capitalize;
}

.no-spacing {
  margin: 0;
  padding: 0;
}

.caption {
  color: #D6001C;
  text-transform: uppercase;
}
.caption::before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 40px;
  background: #D6001C;
  margin-bottom: calc(14px / 2 - 4px);
  margin-right: 10px;
}

/*# sourceMappingURL=styles.css.map */
